@charset "ISO-8859-1";
*{
	margin: 0px;
	padding: 0px;
	font-family: century Gothic;
}
ul{
	float:left;
	list-style-type: none;
	list-style: none;
	margin-top: inherit;
}
ul li 
{
 display: inline-block;
 width:100px;
 height: auto;
}
ul li a
{
	width:100px;
	height:50%;
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition:0.6s ease;
}
ul li a:hover
{
	background-color:white;
	color: black;
}
 h1{
  text-align: center;
  color: red;	
}
h2{
	text-align: center;
	color: blue;
	font-family: cursive;
}

 input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 input[type=password], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit], select {
  color:white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
   background-color: mediumseagreen;
}
input[type=email], selec
t {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  padding: 15px 25px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 input[type=submit]:hover{
  background-color: blue;
 } 
 
.head{
	background-color: rgba(0,0,0,0.4);
	border-bottom-style: outset;
}

.h{
	text-align: center;
	border-bottom-style: dashed;
	font-size: x-large;
  text-transform: capitalize;
   font-style: italic;
   font-weight: bold;
}
table {
	align-self:flex-start;
	background-color: rgba(0,0,0,0.1); 
     opacity: inherit;
    column-gap: 10cm;
    padding: inherit;
    
}